<% /* eslint-disable */ %>
<%- include("header") -%>

<div class="addcontainer tool-display">
  <div class="container-fluid">
    <div class="row">
      <div class="col col-lg-10 aboutcol">


        <h1>ABOUT</h1>
        <h3>Welcome to the Strategy Toolkit!</h3>
        <p class="tooltext">This toolkit was developed to house the many different conceptual and analytical tools that could be used to aid and support project processes, activities, and other methods. Not to be confused with productivity or collaboration tools, they are models and frameworks designed to help us compartmentalize and understand complex and sometimes contradictory information. They are discrete models and frameworks that can be used across methods.</p>
        <p class="tooltext">The tools included have been sorted into the categories below, as a overview of how the tool is typically used. But these categories should merely be considered suggestions, as you may find these tools useful in contexts other than the ones specified.</p>
        <p class="tooltext">Finally, this is not an exhaustive list, but a living curated list by our team. If there is a tool you love that isn’t in the toolkit – feel free to add it!</p>
        <img src="/images/about1.png">
        <h3>There are many ways to go about a project.</h3>
        <p class="tooltext">This toolkit was developed to house the many different conceptual and analytical tools that could be used to aid and support project processes, activities, and other methods. Not to be confused with productivity or collaboration tools, they are models and frameworks designed to help us compartmentalize and understand complex and sometimes contradictory information. They are discrete models and frameworks that can be used across methods.</p>
        <img src="/images/about2.png">
        <h3>A Note on Definitions</h3>
        <p class="tooltext">Given the multidisciplinary nature of our work and team, it’s helpful to develop a common understanding of frequently used terms. Below are a few terms that we have defined for this purpose.</p>
        <img src="/images/about3.png">
      </div>
    </div>



  </div>
</div>


<%- include("footer") -%>
