
{
  "extends": "stylelint-config-standard",
  "rules": {
    "comment-whitespace-inside": null,
    "selector-list-comma-newline-after": null,
    "no-duplicate-selectors": null,
    "selector-pseudo-element-colon-notation": null
  }
}
